<footer class="text-sm p-2 bg-orange-100">
    <a href="/index.html">Home</a> |    
    <a href="/contacto.html">Ir a página de contacto</a> |
    <a href="/productos/prod.html">Ir a página de producto</a>
</footer>